[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
requests = "*"
plotly = "*"
babel = "*"
beautifulsoup4 = "*"
scikit-learn = "*"
kaleido = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.13"
